<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-header">
    <h2 class="modal-title">Dépot de production</h2>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group" *ngIf="editForm.controls.id.value !== null">
      <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
    </div>

    <div class="form-group">
      <label class="form-label" jhiTranslate="sgpcApp.production.libelle" for="field_libelle">Libelle</label>
      <input
        type="text"
        class="form-control"
        name="libelle"
        id="field_libelle"
        data-cy="libelle"
        formControlName="libelle"
        [readOnly]="editForm.controls.validerPar.value"
      />
    </div>

    <div class="form-group" *ngIf="!editForm.controls.validerPar.value">
      <label class="form-label" jhiTranslate="sgpcApp.production.fichier" for="field_fichier">Fichier</label>
      <div>
        <div *ngIf="editForm.get('fichier')!.value" class="form-text text-danger clearfix">
          <a
            class="pull-start"
            (click)="openFile(editForm.get('fichier')!.value!, editForm.get('fichierContentType')!.value!)"
            jhiTranslate="entity.action.open"
            >Ouvrir</a
          ><br />
          <span class="pull-start">{{ editForm.get('fichierContentType')!.value }}, {{ byteSize(editForm.get('fichier')!.value!) }}</span>
          <button
            type="button"
            (click)="editForm.patchValue({ fichier: undefined, fichierContentType: undefined })"
            class="btn btn-secondary btn-xs pull-end"
          >
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <input
          type="file"
          id="file_fichier"
          data-cy="fichier"
          (change)="setFileData($event, 'fichier', false)"
          jhiTranslate="entity.action.addblob"
        />
      </div>
      <input type="hidden" class="form-control" name="fichier" id="field_fichier" data-cy="fichier" formControlName="fichier" />
      <input
        type="hidden"
        class="form-control"
        name="fichierContentType"
        id="field_fichierContentType"
        formControlName="fichierContentType"
      />
    </div>

    <div class="form-group" *ngIf="!editForm.controls.validerPar.value">
      <label class="form-label" jhiTranslate="sgpcApp.production.dateDepot" for="field_dateDepot">Date Depot</label>
      <div class="input-group">
        <input
          id="field_dateDepot"
          data-cy="dateDepot"
          type="text"
          class="form-control"
          name="dateDepot"
          ngbDatepicker
          #dateDepotDp="ngbDatepicker"
          formControlName="dateDepot"
        />
        <button type="button" class="btn btn-secondary" (click)="dateDepotDp.toggle()">
          <fa-icon icon="calendar-alt"></fa-icon>
        </button>
      </div>
    </div>

    <!--
    <div class="form-group" *ngIf="editForm.controls.id.value">
      <label class="form-label" jhiTranslate="sgpcApp.production.fichierControle" for="field_fichierControle">Fichier
        Controle</label>
      <div>
        <div *ngIf="editForm.get('fichierControle')!.value" class="form-text text-danger clearfix">
          <a
            class="pull-start"
            (click)="openFile(editForm.get('fichierControle')!.value!, editForm.get('fichierControleContentType')!.value!)"
            jhiTranslate="entity.action.open"
          >Ouvrir</a
          ><br />
          <span class="pull-start"
          >{{ editForm.get('fichierControleContentType')!.value }}
            , {{ byteSize(editForm.get('fichierControle')!.value!) }}</span
          >
          <button
            type="button"
            (click)="editForm.patchValue({ fichierControle: undefined, fichierControleContentType: undefined })"
            class="btn btn-secondary btn-xs pull-end"
          >
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <input
          type="file"
          id="file_fichierControle"
          data-cy="fichierControle"
          (change)="setFileData($event, 'fichierControle', false)"
          jhiTranslate="entity.action.addblob"
        />
      </div>
      <input
        type="hidden"
        class="form-control"
        name="fichierControle"
        id="field_fichierControle"
        data-cy="fichierControle"
        formControlName="fichierControle"
      />
      <input
        type="hidden"
        class="form-control"
        name="fichierControleContentType"
        id="field_fichierControleContentType"
        formControlName="fichierControleContentType"
      />
    </div>
-->

    <div class="form-group" *ngIf="editForm.controls.validerPar.value">
      <label class="form-label">Fichier final produit</label>
      <div>
        <div *ngIf="editForm.get('fichierReception')!.value" class="form-text text-danger clearfix">
          <a
            class="pull-start"
            (click)="openFile(editForm.get('fichierReception')!.value!, editForm.get('fichierReceptionContentType')!.value!)"
            jhiTranslate="entity.action.open"
            >Ouvrir</a
          ><br />
          <span class="pull-start"
            >{{ editForm.get('fichierReceptionContentType')!.value }} , {{ byteSize(editForm.get('fichierReception')!.value!) }}</span
          >
          <button
            type="button"
            (click)="editForm.patchValue({ fichierReception: undefined, fichierReceptionContentType: undefined })"
            class="btn btn-secondary btn-xs pull-end"
          >
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <input
          type="file"
          id="file_fichierReception"
          data-cy="fichierReception"
          (change)="setFileData($event, 'fichierReception', false)"
          jhiTranslate="entity.action.addblob"
        />
      </div>
      <input
        type="hidden"
        class="form-control"
        name="fichierReception"
        id="field_fichierReception"
        data-cy="fichierReception"
        formControlName="fichierReception"
      />
      <input
        type="hidden"
        class="form-control"
        name="fichierReceptionContentType"
        id="field_fichierReceptionContentType"
        formControlName="fichierReceptionContentType"
      />
    </div>
  </div>

  <div class="modal-footer justify-content-end">
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
    </button>
  </div>
</form>
