<div>
  <h2 class="alert alert-light">
    <span jhiTranslate="sgpcApp.production.home.title">Productions</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary jh-create-entity float-end"
      (click)="createOrEdite()"
      *jhiHasAnyAuthority="[auth.DEPOT]"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Nouveau</span>
    </button>
    <button class="btn btn-info me-2 float-end" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productions?.length === 0">
    <span jhiTranslate="sgpcApp.production.home.notFound">Aucun Production trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productions && productions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fichier">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.fichier">Fichier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finish">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.finish">Finish</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="validerPar">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.validerPar">Valider Par</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDepot">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.dateDepot">Date Depot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.dateDebut">Date Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.dateFin">Date Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.production.dateCreation">Date Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let production of productions; trackBy: trackId" data-cy="entityTable">
          <td>{{ production.libelle }}</td>
          <td>
            <a
              *ngIf="production.fichier"
              (click)="openFile(production.fichier, production.fichierContentType)"
              jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="production.fichier">{{ production.fichierContentType }}, {{ byteSize(production.fichier) }}</span>
          </td>
          <td>{{ production.finish }}</td>
          <td jhiTranslate="{{ 'sgpcApp.ETATPRODUCTION.' + production.etat }}">{{ production.etat }}</td>
          <td>{{ production.validerPar }}</td>
          <td>{{ production.dateDepot | formatMediumDate }}</td>
          <td>{{ production.dateDebut | formatMediumDate }}</td>
          <td>{{ production.dateFin | formatMediumDate }}</td>
          <td>{{ production.dateCreation | formatMediumDatetime }}</td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/production', production.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>

              <a (click)="createOrEdite(production)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>

              <button type="submit" (click)="delete(production)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productions && productions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
