<div>
  <h2 class="alert alert-light">
    <span jhiTranslate="sgpcApp.personne.home.title">Personnes</span>

    <button class="btn btn-primary jh-create-entity float-end" (click)="createOrEdite()">
      <fa-icon icon="plus"></fa-icon>
      <span>Nouveau</span>
    </button>
    <button class="btn btn-info me-2 float-end" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personnes?.length === 0">
    <span jhiTranslate="sgpcApp.personne.home.notFound">Aucun Personne trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="personnes && personnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titre">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.titre">Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroDocument">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.numeroDocument">Numero Document</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filiale.id">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.filiale">Filiale</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.personne.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personne of personnes; trackBy: trackId" data-cy="entityTable">
          <td>{{ personne.nom }}</td>
          <td>{{ personne.prenom }}</td>
          <td>{{ personne.titre }}</td>
          <td>{{ personne.numeroDocument }}</td>
          <td>{{ personne.telephone }}</td>
          <td>
            <div *ngIf="personne.filiale">
              <a [routerLink]="['/filiale', personne.filiale.id, 'view']">{{ personne.filiale.denomination }}</a>
            </div>
          </td>
          <td>
            {{ personne.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/personne', personne.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>

              <a (click)="createOrEdite(personne)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>

              <button type="submit" (click)="delete(personne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="personnes && personnes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
