<div>
  <h2 class="alert alert-light">
    <span id="user-management-page-heading">Utilisateurs</span>

    <button class="btn btn-primary float-end" (click)="createOrEdite()"><fa-icon icon="plus"></fa-icon> <span>Nouveau</span></button>

    <button class="btn btn-info me-2 float-end" (click)="loadAll()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="card">
    <p-table
      #dt1
      [value]="users!"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="isLoading"
      [paginator]="true"
      currentPageReportTemplate="{first} à {last} de {totalRecords}"
      [globalFilterFields]="['email', 'login']"
      class="p-datatable-sm p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              [(ngModel)]="search"
              (input)="dt1.filterGlobal(search, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Email</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Login</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Nom</div>
          </th>
          <!--          <th style="min-width:15rem">-->
          <!--            <div class="flex align-items-center">-->
          <!--              Prénom-->
          <!--            </div>-->
          <!--          </th>-->
          <th style="min-width: 10rem">
            <div class="flex align-items-center">État</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Profiles</div>
          </th>
          <th style="width: 3rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <!--            <img [alt]="customer.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}" width="32" style="vertical-align: middle" />-->
            <span class="ml-1 vertical-align-middle">{{ user.email }}</span>
          </td>
          <td>
            {{ user.login }}
          </td>
          <td>{{ user.lastName }}</td>
          <!--          <td>{{ user.firstName }}</td>-->
          <td>
            <button
              class="btn btn-danger btn-sm"
              (click)="setActive(user, true)"
              *ngIf="!user.activated"
              jhiTranslate="userManagement.deactivated"
            >
              Désactivé
            </button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
              jhiTranslate="userManagement.activated"
            >
              Activé
            </button>
          </td>
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button type="submit" (click)="createOrEdite(user)" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
