<div>
  <h2 class="alert alert-light">
    <span jhiTranslate="sgpcApp.colisage.home.title">Colisages</span>

    <button class="btn btn-primary jh-create-entity float-end" (click)="createOrEdite()">
      <fa-icon icon="plus"></fa-icon>
      <span>Nouveau</span>
    </button>

    <button class="btn btn-info me-2 float-end" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="colisages?.length === 0">
    <span jhiTranslate="sgpcApp.colisage.home.notFound">Aucun Colisage trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="colisages && colisages.length > 0">
    <table class="table table-striped table-hover table-bordered table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.colisage.destination">Destination</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.colisage.canal">Canal</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Date</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colisage of colisages; trackBy: trackId" data-cy="entityTable">
          <td>{{ colisage.destination }}</td>
          <td>{{ colisage.canal }}</td>
          <td>{{ colisage.dateCreation | formatMediumDatetime }}</td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/colisage', colisage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>

              <a (click)="createOrEdite(colisage)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>

              <button
                type="submit"
                (click)="delete(colisage)"
                class="btn btn-danger btn-sm"
                *jhiHasAnyAuthority="[auth.ADMIN, auth.FILIALE, auth.CHEF]"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="colisages && colisages.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
