<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="filiale">
      <h2 data-cy="filialeDetailsHeading"><span jhiTranslate="sgpcApp.filiale.detail.title">Filiale</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ filiale.id }}</span>
        </dd>
        <dt><span jhiTranslate="sgpcApp.filiale.denomination">Denomination</span></dt>
        <dd>
          <span>{{ filiale.denomination }}</span>
        </dd>
        <dt><span jhiTranslate="sgpcApp.filiale.sigle">Sigle</span></dt>
        <dd>
          <span>{{ filiale.sigle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/filiale', filiale.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
