<div>
  <div class="alert alert-light">
    <h2 id="page-heading" data-cy="EmailHeading">
      <span>Emails envoyés</span>
    </h2>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emails?.length === 0">
    <span jhiTranslate="sgpcApp.email.home.notFound">Aucun Email trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emails && emails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th>
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.email.objet">Objet</span>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.email.contenu">Contenu</span>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <span jhiTranslate="sgpcApp.email.destinataire">Destinataire</span>
            </div>
          </th>
          <!--          <th >-->
          <!--            <div class="d-flex">-->
          <!--              <span >Date</span>-->
          <!--              </div>-->
          <!--          </th>-->
          <!--          <th >-->
          <!--            <div class="d-flex">-->
          <!--              <span >Colis par</span>-->
          <!--              </div>-->
          <!--          </th>-->
          <th>
            <div class="d-flex">
              <span>Envoyer par</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let email of emails; trackBy: trackId" data-cy="entityTable">
          <td>{{ email.objet }}</td>
          <td>{{ email.contenu }}</td>
          <td>{{ email.destinataire }}</td>
          <!--          <td>{{ email.dateEnvoi | formatMediumDatetime }}</td>-->
          <!--          <td>-->
          <!--            <div *ngIf="email.colisage">-->
          <!--              <a >{{ email.colisage.canal }}</a>-->
          <!--            </div>-->
          <!--          </td>-->
          <td>
            <div *ngIf="email.personne">
              <a>{{ email.personne.nom + ' ' + email.personne.prenom }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="emails && emails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
