<div *jhiHasAnyAuthority="[auth.DEPOT]">
  <h2 class="alert alert-light"><span>Détail de production</span> [[ {{ production!.libelle }} ]]</h2>

  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div *ngIf="production">
          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="sgpcApp.production.fichier">Fichier</span></dt>
            <dd>
              <div *ngIf="production.fichier">
                <a (click)="openFile(production.fichier, production.fichierContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ production.fichierContentType }}, {{ byteSize(production.fichier) }}
              </div>
            </dd>

            <dt><span jhiTranslate="sgpcApp.production.etat">Etat</span></dt>
            <dd>
              <span jhiTranslate="{{ 'sgpcApp.ETATPRODUCTION.' + production.etat }}">
                {{ production.etat }}
              </span>
            </dd>
            <dt><span>Valider Par</span></dt>
            <dd>
              <span>{{ production.validerPar }}</span>
            </dd>
            <dt><span>Déposer le</span></dt>
            <dd>
              <span>{{ production.dateDepot | formatMediumDate }}</span>
            </dd>

            <dt><span>Terminer le</span></dt>
            <dd>
              <span>{{ production.dateFin | formatMediumDate }}</span>
            </dd>
            <dt><span>Valider le</span></dt>
            <dd>
              <span>{{ production.dateValider | formatMediumDatetime }}</span>
            </dd>

            <dt><span>Produit par</span></dt>
            <dd>
              <div *ngIf="production.producteur">
                <a [routerLink]="['/personne', production.producteur.id, 'view']">
                  {{ production.producteur!.nom + ' ' + production!.personne!.prenom }}</a
                >
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-light">
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="production!.etat === 'VERIFICATION'">
      <span>Valider la reception</span>
    </button>
  </div>
</div>

<div *jhiHasAnyAuthority="[auth.PROD]">
  <h2 class="alert alert-light"><span>Détail de production</span> [[ {{ production!.libelle }} ]]</h2>

  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div *ngIf="production">
          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <dl class="row-md jh-entity-details">
            <dt><span>Fichier de production</span></dt>
            <dd>
              <div *ngIf="production.fichier">
                <a (click)="openFile(production.fichier, production.fichierContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ production.fichierContentType }}, {{ byteSize(production.fichier) }}
              </div>
            </dd>

            <dt><span jhiTranslate="sgpcApp.production.etat">Etat</span></dt>
            <dd>
              <span jhiTranslate="{{ 'sgpcApp.ETATPRODUCTION.' + production.etat }}">
                {{ production.etat }}
              </span>
            </dd>
            <dt><span>Valider Par</span></dt>
            <dd>
              <span>{{ production.validerPar }}</span>
            </dd>
            <dt><span>Déposer le</span></dt>
            <dd>
              <span>{{ production.dateDepot | formatMediumDate }}</span>
            </dd>

            <dt><span>Terminer le</span></dt>
            <dd>
              <span>{{ production.dateFin | formatMediumDate }}</span>
            </dd>
            <dt><span>Valider le</span></dt>
            <dd>
              <span>{{ production.dateValider | formatMediumDatetime }}</span>
            </dd>
            <dt><span>Déposer par</span></dt>
            <dd>
              <div *ngIf="production.personne">
                <a [routerLink]="['/personne', production.personne.id, 'view']">
                  {{ production.producteur!.nom + ' ' + production!.personne!.prenom }}
                </a>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-light">
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="production!.validerPar">
      <span>Valider la production</span>
    </button>
  </div>
</div>

<div *jhiHasAnyAuthority="[auth.CHEF, auth.ADMIN, auth.FILIALE]">
  <h2 class="alert alert-light"><span>Détail de production</span> [[ {{ production!.libelle }} ]]</h2>

  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div *ngIf="production">
          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <dl class="row-md jh-entity-details">
            <dt><span>Fichier de production</span></dt>
            <dd>
              <div *ngIf="production.fichier">
                <a (click)="openFile(production.fichier, production.fichierContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ production.fichierContentType }}, {{ byteSize(production.fichier) }}
              </div>
            </dd>

            <dt><span jhiTranslate="sgpcApp.production.etat">Etat</span></dt>
            <dd>
              <span jhiTranslate="{{ 'sgpcApp.ETATPRODUCTION.' + production.etat }}">
                {{ production.etat }}
              </span>
            </dd>
            <dt><span>Valider Par</span></dt>
            <dd>
              <span>{{ production.validerPar }}</span>
            </dd>
            <dt><span>Déposer le</span></dt>
            <dd>
              <span>{{ production.dateDepot | formatMediumDate }}</span>
            </dd>

            <dt><span>Terminer le</span></dt>
            <dd>
              <span>{{ production.dateFin | formatMediumDate }}</span>
            </dd>
            <dt><span>Valider le</span></dt>
            <dd>
              <span>{{ production.dateValider | formatMediumDatetime }}</span>
            </dd>
            <dt><span>Déposer par</span></dt>
            <dd>
              <div *ngIf="production.personne">
                <a [routerLink]="['/personne', production.personne.id, 'view']">
                  {{ production.producteur!.nom + ' ' + production!.personne!.prenom }}
                </a>
              </div>
            </dd>
            <dt><span>Produit par</span></dt>
            <dd>
              <div *ngIf="production.producteur">
                <a [routerLink]="['/personne', production.producteur.id, 'view']">
                  {{ production.producteur!.nom + ' ' + production!.personne!.prenom }}</a
                >
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-light">
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
    </button>

    <button type="button" class="btn btn-primary" *ngIf="production!.validerPar">
      <span>Valider la production</span>
    </button>
  </div>
</div>
